<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/styles/universal-styles.css" />
        <link rel="stylesheet" href="/styles/createUser.css" />
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <main>
            <h1 class="main-heading"><%= title %></h1>
            <form action="/users/new" method="POST">
                <%- include("errors") %>
                <fieldset class="user-info">
                    <h3 class="user-info-heading">User Info</h3>
                    <label for="username">Username: <span class="required-symbol">*</span></label>
                    <input type="text" name="username" id="username" value="<%= locals.user.username %>" required />
                    <label for="first-name">First Name: </label>
                    <input type="text" name="first_name" id="first-name" value="<%= locals.user.first_name %>" />
                    <label for="last-name">Last Name: </label>
                    <input type="text" name="last_name" id="last-name" value="<%= locals.user.last_name %>" />
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>