<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/houseDetails.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <main>
            <h1 class="main-heading"><%= house.title %></h1>
            <section class="house-content">
                <% if (house.images) { %>
                    <ul class="house-images">
                        <% house.images.forEach((image) => { %>
                            <li class="house-image-list-item">
                                <img class="house-image" src="<%= image.image_src %>" alt="Image of house">
                            </li>
                        <% }) %>

                    </ul>
                <% } %>
                <h2 class="house-address"><%= house.house_number %> <%= house.street %>, <%= house.city %>, <%= house.state %>, <%= house.country %>, <%= house.zip_code %></h2>
                <% if (house.amenities) { %>
                    <h2 class="house-amenities-heading">Amenities: </h2>
                    <ul class="house-amenities">
                        <% house.amenities.forEach((amenity) => { %>
                            <li class="house-amenity"><%= amenity.amenity_name %></li>
                        <% }) %>

                    </ul>
                <% } %>
                
                <p class="bedroom-count"><%= house.bedroom_count %> bedrooms</p>
                <p class="bathroom-count"><%= house.bathroom_count %> bathrooms</p>
                <p class="square-footage"><%= house.square_footage %> Square Ft.</p>
                <p class="furniture-status"><%= house.furniture_status %></p>
                <p class="sale-status"><%= house.sale_status %></p>
            </section>
            <section class="price-information">
                <p class="price">$<%= house.price %></p>
            </section>
            <section class="listing-details">
                <p class="owner-name">Owner: <%= house.owner_name %></p>
                <p class="listing-agent-name">Listing agent: <%= house.listing_agent_name %></p>
            </section>
            <% if (locals.house.categories) { %>
                <section class="house-categories">
                    <h2 class="house-categories-heading">Categories: </h2>
                    <ul class="house-categories-list">
                        <% house.categories.forEach((category) => { %>
                            <li class="house-category"><%= category.category_name %></li>
                        <% }) %>
                        
                    </ul>
                </section>
            <% } %>

        </main>
    </body>
</html>