<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/styles/universal-styles.css" />
        <link rel="stylesheet" href="/styles/usersList.css" />
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <aside>
            <form class="users-search" action="/users/search" method="GET">
                <%- include("errors") %>
                <h1 class="users-search-heading">Users Search</h1>
                <div class="field-container">
                    <label for="username-search">Username: </label>
                    <input type="text" name="username" id="username-search" />
                </div>
                <div class="field-container">
                    <label for="first-name-search">First Name: </label>
                    <input type="text" name="first_name" id="first-name-search" />
                </div>
                <div class="field-container">
                    <label for="last-name-search">Last Name: </label>
                    <input type="text" name="last_name" id="last-name-search" />
                </div>
                <button type="submit">Search</button>
            </form>
        </aside>
        <main>
            <h1 class="main-heading"><%= title %></h1>
            <% if (locals.users) { %>
                <section class="users">
                    <ul>
                        <% users.forEach((user) => { %>
                            <li class="user">
                                <h2 class="user-username"><%= user.username %></h2>
                                <a href="/users/<%= user.id %>">More info</a>
                            </li>
                        <% }) %>
                    </ul>
                </section>
            <% } %>
        </main>
    </body>
</html>